
{%extends "pizzas/base.html"%}
{%block page_header %}
<h3>{{pizza}}</h3>
{% endblock page_header %}

{% block content %}
    <p>Toppings:</p>
    {% for topping in toppings %}
    <div class="card mb-3">
        <div class="card-body">
            {{ topping.name|linebreaks }}
        </div>
    </div>
    {% empty %}
    <p>There are no toppings for this pizza yet.</p>
    {% endfor %}
    
    <p>Comments:</p>
    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            {{ comment.name|linebreaks }}
        </div>
    </div>
    {% empty %}
    <p>There are no comments for pizza topic yet.</p>
    {% endfor %}
    <p>
        <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a New Comment</a>
    </p>
    
    {% if pizza.name == 'Supreme' %}
    <p>
        {% load static %}<img src="{% static "media/supreme.jpg" %}" alt ="pizza"/>
    </p>
    {% elif pizza.name == 'Hawaiian' %}
    <p>
        {% load static %}<img src="{% static "media/hawaiian.jpg" %}" alt ="pizza"/>
    </p>
    {% elif pizza.name == 'Meat Lovers' %}
    <p>
        {% load static %}<img src="{% static "media/meats.jpg" %}" alt ="pizza"/>
    </p>
    {% elif pizza.name == 'Garden' %}
    <p>
        {% load static %}<img src="{% static "media/garden.jpg" %}" alt ="pizza"/>
    </p>
    {% endif %}
{% endblock content %}